* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
/* body{
      display: flex;
} */

main{
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      background-color: #2b90ed;
      /* background-color: #494d58; */
      height: 9vh;
}
/* k */

section{
      display: flex;
}
.menus{
      height:91vh;
      background-color: #f26749;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding: 30px 0;
      top: 0;
}

a{
      text-decoration: none;
      color: black;
}
.menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 6px;
      cursor: pointer;
}

.menu:hover{
      background-color: white;
}

.active{
      background-color: #2b90ed;
}


/* history */
.container{
      flex: 3;
      background-color: #c9cecf;
}
h1{
      text-align: center;
}

table {
      border-collapse: collapse;
      width: 72%;
      margin: auto;

}

tr{
      background-color: #f26749;
}
td{
      text-align: center;
      padding: 8px 0;
      
}
td img{
      width: 55px;
      height: 55px;
}

.history-box p{
      padding-left: 11rem;
}