* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
main {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      background-color:  #16242F;
      color: white;
      height: 9vh;
      position: sticky;
      top: 0;
}

/* k */

section {
      display: flex;
}

.menus {
      height: 91vh;
      background-color: #192A3C;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding: 30px 0;
      position: sticky;
      top: 9vh;
}

a {
      text-decoration: none;
      color: white;
}

.menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 6px;
      cursor: pointer;
}

.menu:hover {
      background-color: black;
}

#order{
      position: relative;
      top: 18px;
      left: 15px;
      color: white;
      width: 24px;
      height: 24px;
      background-color: red;
      padding: 3px;
      border-radius:59%;
      text-align: center;
}
.active {
      background-color: #E76F51;
}

.container {
      flex: 3;
      /* width: 90%; */
      background-color: #c9cecf;
}

h1,
h2 {
      text-align: center;
}

table {
      border-collapse: collapse;
      width: 70%;
      margin: auto;
}

tr:nth-child(even) {
      background: #e7f2f4;
}

tr,
td {
      padding: 10px;
}

td {
      border: 1px solid black;
      text-align: center;
      padding: 8px 0;
}

td input {
      width: 6rem;
}

td i {
      cursor: pointer;
      color: red;
}

#check-out {
      padding: 5px 3rem;
      margin-left: 43%;
      cursor: pointer;
      margin-bottom: 3rem;
}