* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* body{
      display: flex;
} */

main {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      background-color: #2b90ed;
      /* background-color: #494d58; */
      height: 9vh;
      position: sticky;
      top: 0;
}

/* k */

section {
      display: flex;
}

.menus {
      height: 91vh;
      background-color: #f26749;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding: 30px 0;
      position: sticky;
      top: 9vh;
}

a {
      text-decoration: none;
      color: black;
}

.menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 6px;
      cursor: pointer;
}

.menu:hover {
      background-color: white;
}

.active {
      background-color: #2b90ed;
}

/* kk */
.container {
      flex: 3;
      background-color: #c9cecf;
}

.container-top {
      display: flex;
      justify-content: space-between;
      margin: 30px;
}

#add-new-product {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px;
      cursor: pointer;
}

.fitter {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 20px;
}

.bar-search {
      width: 33%;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;

}

.bar-search .material-symbols-outlined {
      cursor: pointer;
}

#search {
      width: 80%;
      height: 30px;
      padding: 0 0 0 20px;
      border-radius: 9px;
      outline: none;
      border: 1px solid white;
}

/*  */

.box-add {
      height: 87vh;
      margin: auto;
      margin: 10px;
      /* background-color: #302b63; */
      border-radius: 9px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.box-add h1{
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: 30px;
}

.form-new-product {
      width: 69%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
}

.form-new-product select {
      width: 60%;
      display: flex;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
}

.form-new-product input {
      width: 60%;
      padding: 10px;
      border: none;
      outline: none;
}

#avatar {
      height: inherit;
      cursor: pointer;
      padding: 10px;
}

.btn-add {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
}

#submit {
      margin-bottom: 30px;
      width: 60%;
      padding: 10px;
      margin-left: 24rem;
}

#cancel {
      width: 60%;
      padding: 10px;
      margin-bottom: 30px;
}
button{
      cursor: pointer;
}
/*  */
table {
      width: 95%;
      margin: auto;
      border-collapse: collapse;
      margin-top: 10px;
  }
  thead {
      background: #54cddf;
  }
  tr,td,th {
      border: 1px solid;
      padding: 10px;
  }
  tr:nth-child(even) {
      background: #e7f2f4;
  }