* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


main {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      background-color:  #16242F;
      color: white;
      height: 9vh;
      position: sticky;
      top: 0;
}

/* k */

section {
      display: flex;
}

.menus {
      height: 91vh;
      background-color: #192A3C;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding: 30px 0;
      position: sticky;
      top: 9vh;
}

a {
      text-decoration: none;
      color: white;
}

.menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 6px;
      cursor: pointer;
}

.menu:hover {
      background-color: black;
}
#order{
      position: relative;
      top: 18px;
      left: 15px;
      color: white;
      width: 24px;
      height: 24px;
      background-color: red;
      padding: 3px;
      border-radius:59%;
      text-align: center;
}

.active {
      background-color: #E76F51;
}

/* kk */
.container {
      flex: 3;
      background-color: #c9cecf;
}

.container-top {
      display: flex;
      justify-content: space-between;
      margin: 30px;
}

#add-new-product {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 2px;
      cursor: pointer;
}

.fitter {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 20px;
}

.inputbox {
      padding: 10px;
}

.bar-search {
      width: 33%;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;
}

.bar-search .material-symbols-outlined {
      cursor: pointer;
}

#search {
      width: 80%;
      height: 30px;
      /* padding: 0 0 0 20px; */
      padding: 10px;
      border-radius: 9px;
      outline: none;
      border: 1px solid white;
}

#clear-fitter {
      padding: 7px;
      border: none;

}

/*  */

.box-add {
      height: 87vh;
      margin: auto;
      margin: 10px;
      /* background-color: #302b63; */
      border-radius: 9px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.box-add h1 {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: 30px;
}

.form-new-product {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
}

.form-detail{
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
}
.form-detail select {
      width: 60%;
      display: flex;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
}

.form-detail input {
      width: 60%;
      padding: 10px;
      border: none;
      outline: none;
}
.form-btn{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;

}

.btn-add {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
}

#submit {
      margin-bottom: 30px;
      width: 60%;
      padding: 10px;
      margin-left: 37rem;
}

#cancel {
      width: 60%;
      padding: 10px;
      margin-bottom: 30px;
}

.btn-add button:hover {
      cursor: pointer;
      box-shadow: 0 0 0 2px #fff, 0 0 0 5px #f26749;
      transition: .4s;
      border-radius: 6px;
}

/*  */
table {
      width: 95%;
      margin: auto;
      border-collapse: collapse;
      margin-top: 10px;
}

thead {
      background: #54cddf;
}

tr,
td,
th {
      border: 1px solid;
      padding: 10px;
}

tr:nth-child(even) {
      background: #e7f2f4;
}

.action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
}
.delete{
      color: red;
}

.action .material-symbols-outlined:hover {
      color: green;
      cursor: pointer;
}

/* detail document */
.detail {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.432);
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
}

.detail i {
      position: relative;
      color: red;
      top: -25vh;
      left: 65vh;
      cursor: pointer;
}

#detail-docu {
      width: 30%;
      background-color: black;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 0 10px 15px;
      color: white;

}

#detail-docu h1,
h3 {
      text-align: center;
      padding-top: 10px;
}

.solds {
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      color: black;
}

.sold-out {
      background-color: white;
      padding: 5px;
}