* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

main{
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 15px;
      background-color: #16242F;
      color: white;
      height: 9vh;
      position: sticky;
      top: 0;
}
/* k */

section{
      display: flex;
      flex-direction: row;
}
.menus{
      height:91vh;
      background-color: #192A3C;
      flex: 0.3;
      display: flex;
      flex-direction: column;
      gap: 39px;
      padding: 30px 0;
      position: sticky;
      top: 9vh;
}

a{
      text-decoration: none;
      color: white;
}
.menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 6px;
      cursor: pointer;
}

.menu:hover{
      background-color: black;
}

#order{
      width: 24px;
      height: 24px;
      background-color: red;
      position: relative;
      top: 18px;
      left: 15px;
      color: white;
      padding: 3px;
      border-radius:59%;
      text-align: center;
}

.active{
      background-color: #E76F51;
}

.container{
      flex: 3;
      background-color: #c9cecf;
}

.container-top{
      display: flex;
}
.box{
      background-color: #0a0877;
      width: 30%;
      margin: 15px 10px;
      padding: 12px;
      border-radius: 9px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-top{
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 30px;
}
.box-top .material-symbols-outlined{
      color:  #16242F;
      font-size: 40px;
}
.box-buttom p{
      padding-left: 7rem;
      padding-bottom: 30px;
      font-size: 20px;
}
.boxone{
      background-color: #2C9C8F;
}
.boxtwo{
      background-color: #E9C56D;
}
.boxthree{
      background-color: #F0A261;
}
.boxfour{
      background-color: #E76F51;
}

.container-center{
      margin: 0 6rem;
}

.td{
      width: 70%;
}

.product-card,.td{
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      margin: auto;
}
.product-card{
      border-radius: 9px;
      background-color: #2b90ed;
      width: 70%;
      padding: 10px;
      margin-bottom: 9px;
      align-items: center;
}
.product-card img{
      width: 55px;
      height: 55px;
}
/*  */

table {
      width: 95%;
      margin: auto;
      border-collapse: collapse;
      margin-top: 10px;
  }
  thead {
      background: #54cddf;
  }
  tr,td,th {
      border: 1px solid;
      padding: 10px;
  }
  tr:nth-child(even) {
      background: #e7f2f4;
  }